:root {
  --background: #fff;
  --heading-color1: #fff;
  --heading-color2: grey;
  --text-color: grey;
  --text-color1: #fff;
  --input-background: whitesmoke;
  --footer-bg: #474747;
}

body {
  background: var(--background);
  font-family: verdana;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  margin: 0;
}

section {
  min-height: 350px;
  min-width: 100%;
}